In [1]:
import os
os.getcwd()

'C:\\Users\\swamy\\Downloads'

In [2]:
os.chdir('C:/Users/swamy/Downloads')

In [3]:
os.getcwd()

'C:\\Users\\swamy\\Downloads'

In [4]:
import pandas as pd
import numpy as np
data=pd.read_csv("hack.csv")
data

    year  unemployment    tax  alcohol
0   2018        2.5510  25.00     5200
1   2017        2.5570  23.50     4900
2   2016        2.7300  22.00     4500
3   2015        2.7820  20.00     4000
4   2014        2.7650  20.00     3800
5   2013        2.8230  20.00     3500
6   2012        2.6898  19.50     3100
7   2011        2.5190  19.50     3000
8   2010        2.4434  19.00     2900
9   2009        2.4750  18.00     2600
10  2008        2.2700  18.00     2500
11  2007        2.3100  18.00     2400
12  2006        2.4000  18.50     2300
13  2005        3.1019  18.50     2200
14  2004        3.1000  17.00     2100
15  2003        3.1800  17.50     2000
16  2002        2.9200  17.25     1900
17  2001        2.9000  17.25     1850
18  2000        2.7306  17.00     1700
19  1999        2.7600  16.90     1700
20  1998        2.6900  16.40     1652
21  1997        2.6200  16.20     1500
22  1996        2.6700  16.24     1400
23  1995        2.6000  16.00     1200
24  1994        2.5908  16.00     1150
25  1993        2.5400  16.20     1000
26  1992        2.3800  16.10     1000
27  1991        2.3800  16.00     1000

In [5]:
data.apply(lambda x:sum(x.isnull()),axis=0)#read column by column

year            0
unemployment    0
tax             0
alcohol         0
dtype: int64

In [6]:
data.shape

(28, 4)

In [7]:
data.describe()

              year  unemployment        tax      alcohol
count    28.000000     28.000000  28.000000    28.000000
mean   2004.500000      2.659946  18.269286  2430.428571
std       8.225975      0.236144   2.305807  1193.168500
min    1991.000000      2.270000  16.000000  1000.000000
25%    1997.750000      2.508000  16.360000  1614.000000
50%    2004.500000      2.645000  17.750000  2150.000000
75%    2011.250000      2.769250  19.500000  3025.000000
max    2018.000000      3.180000  25.000000  5200.000000

In [8]:
data.corr()

                  year  unemployment       tax   alcohol
year          1.000000      0.061071  0.898925  0.957011
unemployment  0.061071      1.000000 -0.016620  0.024721
tax           0.898925     -0.016620  1.000000  0.972430
alcohol       0.957011      0.024721  0.972430  1.000000

In [9]:
import seaborn as sns
corr=data.corr()
sns.heatmap(corr,xticklabels=corr.columns,yticklabels=corr.columns)

In [10]:
x=data[['unemployment','tax']]
y=data.iloc[:,-1]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [12]:
features=x_train.iloc[:,:].values
labels=y_train.iloc[:].values

In [13]:
x=features
y=labels

In [14]:
from sklearn import linear_model as lm
model=lm.LinearRegression()
results=model.fit(x,y)

In [15]:
results

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
predictions=model.predict(x)

In [17]:
accuracy=model.score(x,y)
print("accuracy is:",accuracy)

accuracy is: 0.9864204290972364

In [18]:
from sklearn.metrics import mean_squared_error,r2_score
print('intercept:',model.intercept_)
print('slope:',model.coef_)

intercept: -119348.5800367316
slope: [ 57.75461306 326.00670814]

In [19]:
import numpy as np
rmse=(np.sqrt(mean_squared_error(y,predictions)))
r2=r2_score(y,predictions)

In [20]:
print('the model performance')
print("----------------------------")
print('RMSE is {}'.format(rmse))
print('r2 score is{}'.format(r2))

the model performance
----------------------------
RMSE is 146.34668822925846
r2 score is0.9864204290972364